.Bar{
    margin-bottom: 30px;
}

.Bar h1{
    
    font-weight: 500;
}

.Bar .Form{
    margin: 0 auto;
    width: 60%;
}

.Bar .Form input{
    text-transform: capitalize;
}

.Bar .Form button{
    display: block;
    margin: 0 auto;
}

.Bar .Sun{
    position: absolute;
    top: -20vw;
    left: -18vw;
}

.Bar .Sun img{
    width: 45vw;
    height: auto;
}